<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link href="{{asset('assets/template/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{asset('assets/template/css/font-awesome.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/template/css/angular-datatables.css')}}">
        <link href="{{asset('assets/template/css/datatables.bootstrap.min.css')}}" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="{{asset('assets/template/css/custom.css')}}" rel="stylesheet">
        <!-- pnotify -->
        <link href="{{asset('assets/template/css/pnotify/pnotify.css')}}" rel="stylesheet">
        <link href="{{asset('assets/template/css/pnotify/pnotify.buttons.css')}}" rel="stylesheet">
        <link href="{{asset('assets/template/css/pnotify/pnotify.nonblock.css')}}" rel="stylesheet">


        {% block stylesheets %}{% endblock %}


    </head>
    <body  class="nav-md">

        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="index.html" class="site_title">HASE - GVB</a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- menu profile quick info -->
                        <div class="profile">
                            <div class="profile_pic">
                                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>{{username}}</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">

                                    <li><a href="home">Home</a>
                                    </li>
                                    {% if 'ROLE_SUPER_ADMIN' in userrole %}
                                        <li><a href="employee">Employee Listing</a>
                                        <li><a href="broker">Broker Listing</a>
                                    {% endif %}


                                    {% if 'ROLE_EMPLOYEE' in userrole %}
                                        <li><a href="broker">Broker Listing</a>
                                    {% endif %}

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                        
                    </div>
                </div>
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="images/img.jpg" alt=""> {{username}} 
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                         <li><a href="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                              
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- page content -->
                {% block body %}{% endblock %}

            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                   
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
        


        <script src="{{asset('assets/template/js/jquery.js')}}"></script>
        <!-- // <script src="{{asset('assets/template/js/bootstrap.js')}}"></script> -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{{asset('assets/template/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('assets/template/js/jquery.validate.min.js')}}"></script>
        
        <script src="{{asset('assets/template/js/pnotify/pnotify.js')}}"></script>
        <script src="{{asset('assets/template/js/pnotify/pnotify.buttons.js')}}"></script>
        <script src="{{asset('assets/template/js/pnotify/pnotify.nonblock.js')}}"></script>

        <script src="{{asset('assets/template/js/custom.js')}}"></script>
        <script src="{{asset('assets/template/js/classes/datatable.js')}}"></script>
        <script src="{{asset('assets/template/js/classes/curd.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
