{% extends 'base.html.twig' %}

{% block body %}

<div class="right_col" role="main">
    <div class="col-md-12">
    	
    	<div class="col-md-6">
    		<h1 class="heading"> Employee Management </h1>
    	</div>
    	<div class="col-md-6" style="margin-top:18px">
    		<button type="button" class="btn btn-primary btn-lg pull-right employeeAddButton">Add New Employee</button>
    	</div>

    	<div class="col-md-12">
    		<table class="table row-border hover table-bordered" id="employeeListing">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
    	</div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="employeeModel" role="dialog">
    <div class="modal-dialog">
      	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title employee-modal-title"></h4>
	        </div>
	        <div class="modal-body employeeModelBody">
	          Loading...
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
     	</div>
    </div>
</div>
<!-- /.modal -->

{% endblock %}

{% block javascripts%}
<script type="text/javascript">

		var options = {
            "ajaxPath": "employee_json_list",
            "columnDefValues": [ 
                                    {"targets": 0, data: function (row, type, val, meta) { return row['id']; } },
                                    {"targets": 1, data: function (row, type, val, meta) { return row['firstName']; } },
                                    {"targets": 2, data: function (row, type, val, meta) { return row['lastName']; } },
                                    {"targets": 3, data: function (row, type, val, meta) { return row['email']; } },
                                    {"targets": 4, data: function (row, type, val, meta) {
                                    						var id = row['id']; 
                                                            var rowData = '<button type="button" data-id="'+id+'" class="btn btn-warning employeeEditButton"><i class="fa fa-edit "></i></button><button type="button" data-id="'+id+'" class="btn btn-danger employeeDeleteButton"><i class="fa fa-trash-o"></i></button>'; 
                                                            return rowData; 
                                                        } 
                                    }
                                ]
        }



		var employee = new curd('employee','Employee',options);


	 	// employee.createEntry(['Employee','blabla','employeetwo'+Math.random()+'@gmail.com','12345']);

        

</script>
{% endblock %}
