/*!
 * angular-datatables - v0.5.4
 * https://github.com/l-lin/angular-datatables
 * License: MIT
 */
/* ---------------------------------------- */
/* DATATABLE */
/* ---------------------------------------- */

.dataTables_wrapper {
    /*border: 1px solid #DDDDDD;*/
    padding: 1rem 0;
}
table.dataTable,
table.dataTable.no-footer{
    margin: 1rem 0;
    width: 100% !important;
    border-top: 1px solid #DDDDDD;;
    border-bottom: 1px solid #DDDDDD;
}
/* -- select box --*/
.dataTables_length {
    margin: 0.2rem 0 0.8rem 1rem;
}
.dataTables_length select{
    border: none;
}
.dataTables_length select:focus{
    outline: none;
}
/* -- search box --*/
.dataTables_filter {
    margin-right: 1rem;
}
.dataTables_filter input[type="search"] {
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}
/* -- table --*/
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #DDDDDD;;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 18px;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #585858;
}
.dataTables_wrapper .dataTables_info {
    margin-left: 1rem;
}



/* ---------------------------------------- */
/* PAGINATION */
/* ---------------------------------------- */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: none;
    background: #D6D6D6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.3em 0.8em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    /*transition: all 0.4s ease;*/
    padding: 0.3em 0.8em;
    background: #D6D6D6;
    border: 1px solid transparent;
}
