{% extends 'base.html.twig' %}

{% block body %}
    <div class="right_col" role="main">
        <div style="min-height:100vh">
        	<h1 class="heading"> Home </h1>
        </div>
    </div>
{% endblock %}



