{% form_theme form 'form/fields.html.twig' %}

{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} #}
{{ form_start(form) }}
  	{{ form_widget(form) }}

    <div style="margin-top:16px;" class="form-group">
      <button type="submit" value="save" class="btn btn-primary">save</button>
      <button type="reset" value="cancel" class="btn btn-default">Reset</button>
    </div>
{{ form_end(form) }}
